body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}
.tab {
  width: 100%;
  height: 134px;
  background-color: rgb(255, 255, 255);
}
.mainBody {
  display: flex;
  background-color: #f7f7f7;
}
.monitoring {
  width: 100vw;
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.closed {
  width: 100vw;
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasks {
  width: 100vw;
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dummy {
  width: calc(100vw - 290px);
  height: calc(100vh - 230px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress {
  margin-top:5px;
  background-color: rgba(129, 207, 219, 0.2);
  border-radius: 5px;
  height: 10px;
  width: 177px;
}

.progress-done {
  background: rgba(4, 193, 222, 1);
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
